@page "/portfolio"
@attribute [Authorize]
@inject NavigationManager NavigationManager

<PageTitle>Portfolio</PageTitle>

<body style="background-color:#323a56">
    <h3>Portfolio</h3>
</body>

@code {

}
