@page "/portfolio"
@using FinancialTrackingSimulator.Context
@using FinancialTrackingSimulator.Model
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject StockPriceService StockPriceService

<PageTitle>Portfolio</PageTitle>

<body style="background-color:#323a56">
    <h3 style="color: white">Portfolio</h3>
</body>

@code {

}
