@page "/watchlist"
@attribute [Authorize]
@inject NavigationManager NavigationManager

<PageTitle>Watchlist</PageTitle>

<body style="background-color:#323a56">
    <h3>Watchlist</h3>
</body>

@code {

}
